@use "_mixin" as m;
$font-poppins: "Poppins", sans-serif;

body {
    font-family: $font-poppins;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1268px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.header{
     &-inner {
        padding: 28px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m.breakpoint(lg) {
        }
    }
    &-inner > * {
        flex: 1;
    }
    &-items {
        display: none;

        @include m.breakpoint(lg) {
            display: flex;
            justify-content: flex-end;
        }
    }
    &-items > * {
        margin-left: 37px;
    }
}
.button-mobile {
    text-align: right;
    display: inline-block;
    @include m.breakpoint(lg) {
        display: none;
    }
}
.main-menu {
    display: none;
    @include m.breakpoint(lg) {
        display: block;
    }
    &__list {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        @include m.breakpoint(lg) {
            display: flex;
        }
    }
    &__item {
    }
    &__link {
        font-size: 18px;
        display: block;
        padding: 10px 35px;
        text-decoration: none;
        color: #000;
    }
    &__link:hover {
        background: #000;
        color: #fff;
    }
}




.menu {
    display: flex;
    position: relative;
    text-decoration: none;
    justify-content: center;
    list-style: none;
    width: 800px;
    height: 50px;
    background-color: #F9F1E7;
}

.menu li {
    padding-right: 103px;
    position: relative;
    top: 15px;
}

.menu2 {
    display: flex;
    position: relative;
   margin-left: -500px;
    text-decoration: none;
    justify-content: center;
    list-style: none;
    align-items: center;
   img {
    width: 80px;
    height: 80px;
    border-radius: 10px ;
    margin-left: 20px;
    padding-right: 30px;
  }
}

.menu2 li {
    padding-right: 85px;
    position: relative;
    top: 15px;
   
}


.check {
    position: relative;
    width: 350px;
    border-radius: 20px;
    padding: 40px;
    top: -160px;
    right: -900px;
    box-sizing: border-box;
    background: #F9F1E7;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-title {
    
    font-weight: 900;
    font-size: 1.8rem;
    color: black;
    letter-spacing: 1px;
    margin-left: 42px;
    margin-bottom: 10px;
}

.inputs {
    text-align: left;
    margin-top: 30px;
    width: 100px;
}




.btn-check{
    color: white;
    margin-top: 20px;
    background: #F9F1E7;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    margin-left: 35px ;
   font-size: 20px;
   width: 190px;
   a{
    text-decoration: none;
   }
}



.subtotal {
    display: flex;
}

.price {
    position: relative;
    top: -15px;
    margin-left: 40px;
    width: 100px;

}




















.footer {
    padding: 39px 0;
    &-list {
        @include m.grid(1, 30px);

        @include m.breakpoint(lg) {
            @include m.grid(3, 30px);
        }
    }
    &__address {
        color: #9f9f9f;
    }
    &-nav {
        @include m.grid(2, 30px);
    }
    &__title {
        font-size: 16px;
        color: #9f9f9f;
        font-weight: normal;
        margin-bottom: 59px;
    }
    &-menu-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &-menu-item {
        margin-bottom: 20px;
    }
    &-menu-link {
        text-decoration: none;
        color: #000;
    }
}
.service-list {
    background: #faf3ea;
    padding: 10% 15px 10% 15px;
    @include m.grid(2, 30px);
    @include m.breakpoint(lg) {
        @include m.grid(4, 30px);
        padding: 107px 10% 93px 10%;
    }
    .service-item {
        display: block;
        text-align: center;
        @include m.breakpoint(sm) {
            display: grid;
            grid-template-columns: 60px auto;
            grid-gap: 10px;
            text-align: left;
        }
    }
    .service__name {
        font-size: 25px;
        color: #242424;
        margin: 0;
    }
    .service__description {
        color: #898989;
        margin-top: 10px;
    }
}
.newsletter {
    &__input {
        border: 1px solid transparent;
        border-bottom: 1px solid #000;
        padding: 5px 10px;
        &:focus {
            outline: none;
        }
    }
    &__btn {
        border: 1px solid transparent;
        border-bottom: 1px solid #000;
        padding: 5px 10px;
        background: none;
        cursor: pointer;
    }
}

.section-blog-heading {
    margin-bottom: 66px;
}
